
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0 auto;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #BC47FF;
  font-size: 34px;
  font-weight: 800;
  
}
nav button a{
    text-decoration: none;
    
}

/* shared style */
.section-2-title{
    font-size: 38;
    font-weight: bold;
    color: #252432;
}
.text-center{
    text-align: center;
}
.section-2-bg{
    background-color: #f0ddfc;

    
    justify-content: center;
}
/* header */
.header{
    background-image: url(../Images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 152px 0px;

}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 152px;

}

.btn{
    background-color: #4E47FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}
.btn:hover{
    background-color: darkorange;
    transform: scale(1.05);
    cursor: pointer;
}
.banner-heading{
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-optical-sizing: auto;
    font-style: normal;
    margin: 70px 100px 30px 100px;
    color: #252432;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
/* header-2 */
.header-2{

}
/* banner-2-styles */
.banner-2{
    display: flex;
    justify-content: space-between;
    margin: 140px 159px 116px 141px;
}
.banner-2-content{
    max-width: 517px;

}

.banner-2-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}
.banner-2-description{
    color: #25243288;
    font-size: 24px;
    font-weight: 400px;
}
.banner-2-wcmini-pic{
    width: 403px;
    height: 328px;
    border-radius: 40px;
}
/* productive users section */
.productive{
    border-radius: 15px;
    margin: 116px 159px 137px 141px;
    padding: 50px 142px;
    text-align: center;
}
/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.productive-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
.productive-item{
    align-items: center;
    justify-content: center;
}
.item-data{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0px 0px;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px 0px;
    
}
.item-subtitle{
    font-size: 20px;
    color: #00000075;
}
.section-3-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

/* feedback section */
.feedback-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 137px 149px 137px 151px;
    padding: 0px 150px;
}

.feedbacks{
    background-color: #ffffffb7;
    border-radius: 14px;
    width: 100%;
    padding: 24px 24px;
    width: 300px;
    gap: 20px;
}

.feedbacker-picnamedate {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
}

.feedbacker-image {
    border-radius: 50%;
}

.feedbacker-namedate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
    gap: 0;
    color: #757575;
}

.feedbacker-name {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.date {
    margin: 0;
    font-size: 12px;
    color: #75757593;
}

.feedback-subtitile {
    margin-bottom: 0;
}

.feedback-description {
    margin-bottom: 8%;
}
/* section-4-styles */

.section-4-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    padding: 40px 0px 0px 0px;
    margin: 20px;
}
.section-4-description{
    color: #0000009d;
    margin: 0px 0px 20px 0px;
}
.section-4-bg{
    width: 800px;
    border-radius: 48px;
    margin: 30px 150px 93px 151px;
    
}
.section-4-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 137px 151px ;
    background-color: white;
    padding: 30px 20px 20px 20px;
}

/* body-styles */
.bg-color {
    background-color: #dff5ff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
}

.body-column {
    font-size: 60px;
    font-weight: bold;
    width: 50%;
}

.body-column-2 {
    width: 50%;
}

body input[type="text"],
body input[type="email"] {
    height: 50px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin: 15px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

textarea {
    height: 120px;
    width: 100%;
    display: block;
    font-size: 16px;
    margin: 15px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    
}

.button-form {
    background-color: #4E47FF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* footer-logo-section */
footer {
    
    padding: 200px 150px;
    display: flex;
    justify-content: space-between
    
}

.footer-logo{
    padding:104px 455px 103px 454px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: none;
}

.logo{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #BC47FF;
  font-size: 100px;
  font-weight: 900;
}
.footer-description{
    color: #8987A1;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: white;
    
}

a{
    text-decoration: none;
}

.footer-ancors{
    display: flex;
    justify-content: space-between;
    color: #8987A1;
    padding: 5px 70px ;
}

/* real-body-styles */
body{
    max-width: 100%;
}